
<div id="body"> 
  
  <div id="chat-circle" class="btn btn-raised">
          <div id="chat-overlay"></div>
          <i class="material-icons" style="font-size: 28px;">add</i>
    </div>
    
    <div class="chat-box">
      <div class="chat-box-header">
        Add new Graph
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
          <form>
            <div>     
              <div class="form__group field">
                <input style="width: 170%;" type="input" class="form__field" placeholder="Name" name="gname" id='gname' [(ngModel)]="gname" required >
                <label for="name" class="form__label">Name</label>
              </div>
              <br>
              <div class="form__group field">
                <input style="width: 170%;" type="url" class="form__field" placeholder="Url" name="gurl" id="gurl" [(ngModel)]="gurl" required >
                <label for="name" class="form__label">Url</label>
              </div>
              <button style="cursor: pointer;" type="submit" class="chat-submit" (click)="submitForm()"><i class="material-icons">send</i></button>
              </div>
          </form>   
        </div><!--chat-log -->
      </div>
      <div class="chat-input">      

      </div>
    </div>
    
    
    
    
  </div>